In [1]:
import pandas as pd

csv_path = "/home/ae25872/codebase/proai/Common-Crawl---Autumn-2025/Companies-House-search-results.csv"
df = pd.read_csv(csv_path)

df.head()

,company_name,company_number,company_status,company_type,company_subtype,dissolution_date,incorporation_date,removed_date,registered_date,nature_of_business,registered_office_address
0,OJ SOLICITORS LTD,SC659373,Active,Private limited company,NaN,NaN,2020-04-16,NaN,NaN,69102,Lime Tree Business Centre 551 Sauchiehall Stre...
1,CONSILLIUM LIMITED,07247456,Active,Private limited company,NaN,NaN,2010-05-10,NaN,NaN,69102,Annandale 224 London Road Charlton Kings Chelt...
2,DERRICK CONSULTANCY SERVICES LIMITED,12485314,Active,Private limited company,NaN,NaN,2020-02-26,NaN,NaN,61900 69102,304 High Road Benfleet SS7 5HB England
3,SHIPPING AND COMMERCIAL LEGAL COSTS LTD,14103954,Active,Private limited company,NaN,NaN,2022-05-12,NaN,NaN,69102,Ebenezer House 41 Clarence Street Southend-On-...
4,W W & J MCCLURE LTD,SC449762,Active,Private limited company,NaN,NaN,2013-05-10,NaN,NaN,69102,C/O Frp Advisory Trading Ltd Apex 3 95 Haymark...

In [2]:
import pandas as pd

people_txt_path = "/home/ae25872/codebase/proai/Common-Crawl---Autumn-2025/psc-snapshot-2025-10-14_1of30 (1)/psc-snapshot-2025-10-14_1of30.txt"
# Try newline-delimited JSON first (common for CH PSC snapshot), fallback to TSV/CSV
try:
	people_df = pd.read_json(people_txt_path, lines=True)
except ValueError:
	try:
		people_df = pd.read_csv(people_txt_path, sep="\t")
	except Exception:
		people_df = pd.read_csv(people_txt_path)

people_df.head()

  company_number                                               data
0       07434180  {'address': {'address_line_1': 'Boddington Lan...
1       08810260  {'address': {'address_line_1': 'Godmans Lane',...
2       06022970  {'address': {'address_line_1': '20 Rugby Road ...
3       08301480  {'address': {'address_line_1': 'Station Road',...
4       07428111  {'address': {'address_line_1': 'Cottage', 'add...

In [ ]:
# Ensure the join key is consistently named and normalized
if 'company_nymber' in df.columns:
    df = df.rename(columns={'company_nymber': 'company_number'})
if 'company_nymber' in people_df.columns:
    people_df = people_df.rename(columns={'company_nymber': 'company_number'})

for d in (df, people_df):
    d['company_number'] = d['company_number'].astype(str).str.strip().str.upper()

# Inner join on company_number
merged = df.merge(
    people_df,
    on='company_number',
    how='inner',
    suffixes=('_co', '_psc')
)

merged.head()

,company_name,company_number,company_status,company_type,company_subtype,dissolution_date,incorporation_date,removed_date,registered_date,nature_of_business,registered_office_address,data
0,DANBEX LIMITED,08164836,Active,Private limited company,NaN,NaN,2012-08-01,NaN,NaN,69102,New Media House Davidson Road Lichfield WS14 9DZ,{'address': {'address_line_1': 'Davidson Road'...
1,LEGAL DIRECTORY LTD,08515277,Active,Private limited company,NaN,NaN,2013-05-03,NaN,NaN,69102,555-557 Cranbrook Road Ilford IG2 6HE,{'address': {'address_line_1': 'Cranbrook Road...
2,SOLICITORS4LANDLORDS LTD,08105921,Active,Private limited company,NaN,NaN,2012-06-14,NaN,NaN,69102,223 Belgrave Gate Leicester LE1 3HT England,{'address': {'address_line_1': 'Belgrave Gate'...
3,ELIZABETH ROSE LIMITED,13553670,Active,Private limited company,NaN,NaN,2021-08-06,NaN,NaN,69102,"Aw House, 6-8 Stuart Street, Luton, England St...",{'address': {'address_line_1': 'Stuart Street'...
4,PAM HATFIELD ASSOCIATES LIMITED,06276113,Active,Private limited company,NaN,NaN,2007-06-12,NaN,NaN,69102,50 St. Marys Crescent London NW4 4LH,{'address': {'address_line_1': 'St. Marys Cres...